.images_row {
    display: flex;
    flex-wrap: wrap;
}

.images_row > img {
    flex: 50%;
    padding: 15px;
}

.display_none {
    opacity: 0;
}

.roundcornerimg {
    border-radius: 5px;
    height: 350px;
    width: 120px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .roundcornerimg {
        height: 150px;
        width: 270px;
    }
}

span {
    width: auto;
}